<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-md-10 col-sm-10 col-xs-12" style="height:450px;overflow-y:auto;">
			   <table ng-table="tableParams" class="table">			   	  
       				 <tr ng-repeat="item in sceneComments">            				
            				<td data-title="'Name'">{{item.submittedByName}}</td>
            				<td data-title="'Comment'">{{item.comment}}</td>            				
            				<td data-title="">								
								<a href="" style="font-size:10px;" ng-click="deleteComment(item.id);" class="sbtn btn-info btn-lg">
								<span class="glyphicon glyphicon-trash"></span> 
        						</a>									
							</td>						                            
       				 </tr>      
       				 <tr ng-show="emptiness2">
       				 <td></td>
       				 <td>No data available</td>
       				 <td></td>
       				        				
       				 </tr> 				       				
       		  </table>        		         		         		       		  
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1">
	</div>
	</div>