<div class="row">
		<div class="col-md-1 col-sm-1  col-xs-0"></div>	
		<div class="col-md-10 col-sm-10  col-xs-12">	 
		<div>
		<h2 id="textName" style="margin-left:400px;margin-top:-2px;"></h2>		
		</div> 
		  	<form role="form" name="scenePublishForm" id="scenePublishForm" ng-controller="SceneListCtrl" novalidate="novalidate">
		  		<div class="panel panel-info">
				    <div class="panel-heading">Publish Scene</div>
				    <div class="panel-body">
				  		<div class="row table_row_top_margin">
				  			<div class="col-md-3 col-sm-12 col-xs-12">
				  				<div class="form-group" >
				  	          		<label>Select Publish Date:</label>	
						    	</div>
						    </div>
						    <div class="col-md-3 col-sm-6 col-xs-12">	
						    	<input onchange="change();" readonly='true' name="dateOfPublish" id="dateOfPublish" placeholder="Select Publish Date" type="text" class="input-xlarge form-control">
					    	</div>
						    <div class="error-container col-md-3 col-sm-6 col-xs-12" 
        ng-show="reportForm.report.$dirty && reportForm.report.$invalid">
    <small class="error" 
        ng-show="reportForm.report.$error.required">
        Please select publish date.
    </small>
    </div>			    		  	    
				  		</div>		
						
    			  	<div class="row table_row_top_margin text-center">
					<!-- <button class="btn btn-info" ng-click="backtoPage();">Back</button> -->
					<div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:-5px;">					
					<button class="btn btn-info" ng-click="submitToPublish()">Submit</button>					
					</div>
				</div>
			</form>	
		</div>	
		<div class="col-md-1 col-sm-1  col-xs-0"></div> 
	</div>  
			
<script>

$("#dateOfPublish").datepicker({
						showOn: "both",					
						dateFormat:'yy-mm-dd',     
						minDate:new Date()
					});
</script> 